modules = ["nodejs-20"]
run = "node server.js"

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3333
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["node", "dist/server.js"]
build = ["npm", "run", "build"]
